{
  "parser": "@babel/eslint-parser",
  "extends": ["standard", "standard-react", "plugin:prettier/recommended"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/jsx-no-bind": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0,
    "dot-notation": 0,
    "spaced-comment": 0,
    "jsx-a11y/anchor-is-valid": "off"
  }
}
